<textarea id="template-baby_tip">
    <li class="baby_tip view--item swiss_grid--column column-mq_lg-span_1 column-mq_m-span_2 column-mq_s-span-1">
        <div class="baby_tip--card card">
            <h4 class="baby_tip--type label label-default">{{type}}</h4>
            <h3 class="baby_tip--title">{{title}}</h3>
            <img
                class="baby_tip--img"
                src="{{img.url}}"
                alt="{{img.alt}}"
                title="{{img.title}}"
             />
        </div>
    </li>
</textarea>
